.swiperSlide {
  padding: 20px 10px 20px;
  width: 100%;
}
.customSwiperButtonNext {
  position: absolute;
  right: -25px;
  top: 110px;
  width: 60px;
  height: 60px;
  background-image: url(../../../../assets/images/arrow_right.svg);
  background-repeat: no-repeat;
  z-index: 2;
}

.customSwiperButtonPrev {
  position: absolute;
  left: -15px;
  top: 110px;
  width: 60px;
  height: 60px;
  background-image: url(../../../../assets/images/arrow_left.svg);
  background-repeat: no-repeat;
  z-index: 2;
}

.cardList {
  position: relative;
  z-index: 0;
  width: 100%;
}
