.list {
  position: relative;
  display: flex;
  gap: 20px;
}

.buttonLeft {
  position: absolute;
  left: -20px;
  top: 110px;
  width: 42px;
  height: 42px;
  cursor: pointer;
  background-image: url(../../../../assets/images/arrow_left.svg);
  background-position: -7px -3px;
  background-repeat: no-repeat;
}

.buttonRight {
  position: absolute;
  right: -20px;
  top: 110px;
  width: 42px;
  height: 42px;
  border-radius: 1px;
  cursor: pointer;
  background-image: url(../../../../assets/images/arrow_right.svg);
  background-position: -7px -3px;
  background-repeat: no-repeat;
}
