.toggleBox {
  display: flex;
  flex-direction: row;
  margin: 24px 0;

  button {
    margin: 0;
  }
}

.selectorBox {
  display: flex;
  align-items: flex-start;
  gap: 16px;

  @media (max-width: 767px) {
    gap: 12px;
  }

  .selectLabel {
    width: 168px;
    height: 168px;
    aspect-ratio: 1 / 1;
    border-radius: 16px;
    flex-shrink: 0;
    border: 1px solid #00000015;
    cursor: pointer;
    background-size: cover;

    @media (max-width: 767px) {
      $mobile-width: calc((100% - 4px) / 4);
      min-width: 154px;
      min-height: 154px;
      width: $mobile-width;
      height: $mobile-width;
      aspect-ratio: 1 / 1;
    }
  }

  .selectLabel > .check {
    @media (max-width: 767px) {
      $mobile-width: calc((100% - 4px) / 4);
      min-width: 154px;
      min-height: 154px;
      width: $mobile-width;
      height: $mobile-width;
      aspect-ratio: 1 / 1;
    }
  }

  .selectLabel > .check {
    background: var(--gray-500);
    border-radius: 100px;
    margin: 62px;
    z-index: 1;

    @media (max-width: 767px) {
      margin: 55px;
    }
  }

  .checked {
    display: block;
  }

  .checkboxInput {
    display: none;
  }

  .image1 {
    background-image: url("https://picsum.photos/id/683/3840/2160");
  }

  .image2 {
    background-image: url("https://picsum.photos/id/24/3840/2160");
  }

  .image3 {
    background-image: url("https://picsum.photos/id/599/3840/2160");
  }

  .image4 {
    background-image: url("https://picsum.photos/id/1058/3840/2160");
  }

  .beige {
    background: #ffe2ad;
  }

  .purple {
    background: #ecd9ff;
  }

  .blue {
    background: #b1e4ff;
  }

  .green {
    background: #d0f5c3;
  }

  @media (max-width: 767px) {
    flex-wrap: wrap;
  }
}
