.name {
  margin: 0px 0 12px;
}

.image {
  margin: 12px 0;
}

.card {
  padding: 30px 24px;
  width: 275px;
  height: 260px;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-position: center;
  background-size: cover;
  &:hover {
    cursor: pointer;
  }
}

.hr {
  margin: 43px 0 16px;
  color: rgba(0, 0, 0, 0.12);
  opacity: 12%;
}

@media (max-width: 767px) {
  .card {
    width: 208px;
    height: 232px;
    padding: 30px 22px 20px;
  }
  .image {
    margin: 12px 0 8px;
  }
  .hr {
    margin: 33px 0 8px;
  }
}
