@import url("../../../styles/global.scss");

.share_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.share_btn {
  border: 1px solid var(--grey-300);
  border-radius: 6px;
  padding: 6px 16px;

  @media (max-width: 500px) {
    width: 36px;
    height: 32px;
    padding: 0;
  }
}

.outside_container {
  position: relative;
}

.outside_share {
  width: 140px;
  height: 120px;
  border: 1px solid var(--grey-300);
  border-radius: 8px;
  padding: 10px 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: -15px;
}

.share_list {
  font-size: 16px;
  font-weight: 400;
  color: var(--grey-900);
  padding: 12px 16px;
  cursor: pointer;

  &:hover {
    background-color: var(--grey-100);
  }
}
